@charset "UTF-8"; /* 文字コードの設定 */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.header {
    text-align: center;
    background-color: #f8f8f8;
    padding: 20px 0;
    box-sizing: border-box;  /* パディングもボックスサイズに含める */
    width: 100%;  /* 幅を100%に設定 */
    height: auto; /* 高さを自動調整 */
    overflow: hidden; /* はみ出した内容を非表示 */
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;  /* マージンをリセット */
}

nav li {
    display: inline;
    margin-right: 15px;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    margin: 20px;
}

.lazy {
    width: 200px;
    height: auto;
    opacity: 0;
    transition: opacity 0.3s;
}